.menu{
    &__section{
        width: 100vw;
        height: 8rem;
        position: fixed;
        display: flex;
        align-items: center;
        z-index: 100;
        background-color: #00101ee0;
        backdrop-filter: blur(1rem);
        border-bottom: 0.1rem solid var(--border);
        color: var(--color-text);
        transition: all 0.3s ease;
        
        &__hidden{
            transform: translateY(-100%);
        }

        // &::after{
        //     // margin-bottom: 10rem;
        //     border: 20rem black transparent;
        // }
        
    }
    &__container{
        max-width: 130rem;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0rem 5rem;
        margin-left: 5rem;
        
    }
    &__logo{
        filter:  brightness(1.5);
    }
    &__list{
        display: flex;
        gap: 5rem;
        margin-left: 10rem;
        font-size: 1.2rem;
        font-family: var(--font-text);
        font-weight: 300;
        cursor: pointer;
        text-transform: uppercase;
    }
    &__item{
        transition: ease 0.3s ease;
        &__underline{
            width: 0%;
            height: 0.15rem;
            background: var(--grad);
            transition: width 0.5s ease;
        }
        :hover{
            color: var(--blue);
            .menu__item__underline{
                width: 100%;
            }
        }
    }
    &__button{
        font-size: 1.2rem;
        font-family: var(--font-text);
        font-weight: 400;
        text-transform: uppercase;
        width: 20rem;
        height: 100%;
        color: var(--color-text);
        background: var(--grad);
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}