.problem {
  &__header {
    margin-bottom: 6rem;
  }

  &__grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 1.6rem;
  }
}

@media (max-width: 441px) {
  .problem {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}