.feature__container{
    margin: 0 20rem;
}
.title__especial{
    font-size: 10rem;
    font-weight: 700;
    color: #e2dfdf;
    margin-bottom: 1rem;
    padding-top: 8rem;
    text-transform: uppercase;
}