.previsao {
  display: grid;
  grid-template-columns: 1fr 30rem;
  gap: 1.6rem;
  align-items: start;

  @include tablet {
    grid-template-columns: 1fr;
  }

  &__main {
    min-height: 44rem;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
