.title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__text{
        font-size: 20rem;
        font-weight: 700;
        color: var(--color-black);
        margin-bottom: 1rem;
        padding-top: 8rem;
    }
}