:root{
    --color-light-blue: #276FBF;
    --color-dark-blue: #183059;
    --color-dark-coral: #AF5B5B;
    --color-coral: #F03A47;
    --color-white: #F6F4F3;
    --color-light-grey: #D9D9D9;
    --color-dark-grey: #393939;
    --color-black: #0A0A0A;
    
    --grad: linear-gradient(135deg, #5028F0, #1464C8, #00B4A0);
}