@import url('./fonts/_dmmono.scss');
@import url('./fonts/_dmserifdisplay.scss');
@import url('./fonts/_figtree.scss');
@import url('./fonts/_roboto.scss');
@import url('./fonts/_instrumentserif.scss');
@import url('./fonts/_dmseriftext.scss');


:root {
  
  --font-title: 'DM Serif Display';
  --font-title-2: 'DM Serif Text';
  --font-mocked: 'DM Mono';
  --font-text: 'Figtree';
  
}