@import url('./fonts/_dmmono.scss');
@import url('./fonts/_dmserifdisplay.scss');
@import url('./fonts/_figtree.scss');
@import url('./fonts/_roboto.scss');


:root {
  
  --font-title: 'DM Serif Display';
  --font-mocked: 'DM Mono';
  --font-text: 'Figtree';
  --font-text-2: 'Roboto';
  
}