.section {
  background-color: none;
  &__container {
    padding: 15rem 7.5rem;
    max-width: 120rem;
    margin: 0 auto;
  }
}
@media (max-width: 441px) {
  .section {
    &__container {
      padding: 8rem 4rem;
    }
  }
}