.feature {

  &__container {
    width: 100%;
  }

  &__header {
    margin-bottom: 6rem;
  }

  &__grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 6rem;
  }
}

@media (max-width: 441px) {
  .feature {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}